version: '3.3'

services:
  bot-main:
    image: bot-mlm:v1.192
    build: .
    restart: always
    ports:
      - target: 3000
        published: 3010
        mode: host
    deploy:
      replicas: 1
      restart_policy:
        condition: any
        delay: 10s
