version: '3'

services:
  bot-mlm:
    image: bot-mlm:latest
    build: .
    restart: always
    ports:
      - "3000:3000"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
