version: '3'

services:
  main-bot:
    image: bot-pix-v1254:latest
    build: .
    restart: always
    ports:
      - "3333:3000"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
