version: '3.3'

services:
  bot:
    image: pix-bot:latest
    ports:
      - target: 3000
        published: 3001
        mode: host
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
