version: '3.3'

services:
  bot-mlm:
    image: bot-mlm:latest
    ports:
      - target: 3000
        published: 3000
        mode: host
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
