version: '3.3'

services:
  bot-final:
    image: bot-indicacao:v1.254
    ports:
      - target: 3000
        published: 3001
        mode: host
    deploy:
      replicas: 1
      restart_policy:
        condition: any
